<div class="add-event-dialog">
    <h1 mat-dialog-title class="add-event-dialog-content" id="mat-dialog-title">Dodawanie nowego eventu</h1>

    <div mat-dialog-content class="add-event-dialog-content" id="mat-dialog-content">
        <div class="formContainer" novalidate>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit (formGroup.value)" class="form">

                <mat-form-field hintLabel="Max 30 characters" appearance="outline" class="form-element">
                    <mat-label>Name</mat-label>
                    <input matInput #input cdkFocusInitial id="matInput" formControlName="name">
                    <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
                </mat-form-field>

                <mat-button-toggle-group name="type" aria-label="Event type">
                    <mat-button-toggle value="sprawdzian">Sprawdzian</mat-button-toggle>
                    <mat-button-toggle value="kartkówka">Kartkówka</mat-button-toggle>
                    <mat-button-toggle value="przypał">Przypał</mat-button-toggle>
                    <mat-button-toggle value="null">Inne</mat-button-toggle>
                  </mat-button-toggle-group>

                <mat-form-field appearance="outline" class="form-element">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="!date.valid && date.touched">
                        {{ dateAlert }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-element">
                    <mat-label>Hour</mat-label>
                    <mat-select formControlName="hour">
                        <mat-option *ngFor="let hour of hours" value="{{hour}}">
                            {{hour}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div mat-dialog-actions class="add-event-dialog-content form-element" id="mat-dialog-actions">
                    <button mat-button [mat-dialog-close] class="add-event-button" id="mat-button" type="submit"
                        [disabled]="!formGroup.valid">DODAJ EVENT</button>
                </div>
            </form>
        </div>
    </div>
</div>