<div class="add-event-dialog">
    <h1 mat-dialog-title class="add-event-dialog-content" id="mat-dialog-title">Dodawanie nowego eventu</h1>

    <div mat-dialog-content class="add-event-dialog-content" id="mat-dialog-content">
        <div class="formContainer" novalidate>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit (formGroup.value)" class="form">

                <mat-form-field appearance="outline" class="form-element">
                    <mat-label>Nazwa</mat-label>
                    <input matInput cdkFocusInitial id="matInput" formControlName="name">
                    <mat-error *ngIf="!name.valid && name.touched">
                        {{ nameAlert }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-element">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="date" [(ngModel)]="planModel.start_time">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="!date.valid && date.touched">
                        {{ dateAlert }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-element">
                    <mat-label>Hour</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option1</mat-option>
                        <mat-option value="option2">Option2</mat-option>
                        <mat-option value="option3">Option3</mat-option>
                        <mat-option value="option4">Option4</mat-option>
                        <mat-option value="option5">Option5</mat-option>
                    </mat-select>
                </mat-form-field>

                <div mat-dialog-actions class="add-event-dialog-content form-element" id="mat-dialog-actions">
                    <button mat-button [mat-dialog-close] class="add-event-button" id="mat-button" type="submit"
                    [disabled]="!formGroup.valid">DODAJ EVENT</button>
                </div>
            </form> 
        </div>
    </div>
</div>