<div class="table-container">
    <table>
        <thead>
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let row of arrayOfRows">
                <td *ngFor="let day of row" [class.otherMonth]="day.getMonth() != currentMonth" 
                [class.weekend]="day.getDay() === 0 || day.getDay() === 6" (click)="openDialog(day)"> 
                <div class="number-of-day">
                  {{ day | date:'d' }} 
                </div>
              </td>
              </tr>
          </tbody>
    </table>
</div>