table {
    border: 2px solid black;
    border-spacing: 0px;
    width: 100%;
    height: 700px;
}

th {
    width: 14.3%;
}

td {
    border: 1px solid black;
    width: 14.3%;
    text-align: center;
    vertical-align: top;
}

.otherMonth {
    color: grey;
}

.weekend {
    background-color: rgb(211, 211, 211);
}

.number-of-day {
    margin-top: 5px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
}

@media only screen and (max-width: 560px) {
    table {
        height: 600px;
    }
    th {
      display: none;
      overflow: hidden;   
    }
}