.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow {
    border: none;
    background-color: inherit;
    transition: transform 1s;
}

.left:hover {
    cursor: pointer;
    transform: translateX(-4px);
}

.right:hover {
    cursor: pointer;
    transform: translateX(4px);
}

.arrow:focus {
    outline: 0;
}
