#homePage {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 3fr 3fr 3fr;
    gap: 5px 5px;
    grid-template-areas:
        ". addEvent timePeriod today viewMenu ."
        ". calendar calendar calendar calendar ."
        ". calendar calendar calendar calendar ."
        ". calendar calendar calendar calendar .";
    width: 100vw;
    height: 100vh;
}

.bar {
    width: 100vw;
    background-color: #3f51b5; 
    margin-bottom: 5px;
}

.addEvent {
    grid-area: addEvent; 
}

.timePeriod {
    grid-area: timePeriod; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.today {
    grid-area: today;  
}

.viewMenu {
    grid-area: viewMenu;
    text-align: end;
}

.smallCalendar {
    grid-area: smallCalendar;
}

.calendar {
    grid-area: calendar;
}

@media only screen and (max-width: 560px) {
    #homePage {
        grid-template-areas:
            ". addEvent timePeriod viewMenu today ."
            "calendar calendar calendar calendar calendar calendar"
            "calendar calendar calendar calendar calendar calendar"
            ". . . . . .";
    }

    .addEvent {
        position: fixed;
        bottom: 10px;
        left: 50%;
        right: 50%;
    }

    .timePeriod {
        display: none; 
    }

    .today {
        display: none;  
    }

    .viewMenu {
        text-align: center;
        
    }
}
