<mat-toolbar class="bar">DR Calendar</mat-toolbar>
<div id="homePage">
    
    <div class="addEvent">
            <app-add-event></app-add-event>
    </div>
    <div class="timePeriod">
            <app-time-period-controler></app-time-period-controler>
    </div>
    <div class="today">
            <app-today-button></app-today-button>
    </div>
    <div class="viewMenu">
            <app-calendar-view-menu></app-calendar-view-menu>
    </div>
    <div class="smallCalendar"></div>
    <div class="calendar">
        <app-home></app-home>
    </div>
</div>

