<section class="grid-container" (swipeleft)="handleSwipe('left')" (swiperight)="handleSwipe('right')">
    <article class="column-container constant hours-container">
        <li class="block-container constant"></li>
        <li class="block-container constant hour" *ngFor="let hour of hours">
            <p>{{ hour }}</p>
        </li>
    </article>
    <article class="column-container date-container"
        [class.today]="date.getFullYear() === today.getFullYear() && date.getMonth() === today.getMonth() && date.getDate() === today.getDate()"
        *ngFor="let date of days">
        <div class="block-container constant">
            <h3>{{ date | date: "dd" }}</h3>
            <p>{{ date | date: dayFormat }}</p>
        </div>
        <div class="single-cell block-container" *ngFor="let hour of hours"
            (click)="openDialog(hour, date, $event.target, $event.currentTarget)">
            <ng-container *ngFor="let event of events">
                <li class="single-event" *ngIf="date.getFullYear() === event.date.getFullYear() && date.getMonth() === event.date.getMonth() && date.getDate() === event.date.getDate() && event.hour === hour">
                    <mat-icon class="material-icons icon" (click)="test(event.name)">{{ event.type | toTypeIcon }}
                    </mat-icon>
                </li>
            </ng-container>
        </div>
    </article>
    <button (click)="xd">ss</button>
</section>