.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 5px;
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: lighten(#3f51b5, 20%);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #3f51b5;
    }

    .column-container {
        height: 700px;
        border: solid 1px #585858;
        display: grid;
        grid-template-rows: repeat(9, 1fr);

        .block-container {
            border: 1px solid rgba(29, 29, 29, 0.25);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .constant {
            color: #585858;
        }

        h3,
        p {
            margin: 0;
        }
    }

    .today {
        border: 2px 1px;
        border-color: #3f51b5;
        box-shadow: 3px 1px 3px 3px #ccc;

        .constant {
            background-color: #3f51b5;
            color: white;
        }
    }

    .single-cell {
        max-height: 100%;
        overflow: auto;
        .single-cell-container {
            display: flex;
            flex-direction: row;
            justify-content: center !important;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            position: relative;

            .lesson-name {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;

                p {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    z-index: -1;
                }
            }

            .lesson-events {
                display: flex;
                width: 35px;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-height: 100%;
                overflow: auto;
                .single-event {
                    list-style-type: none;
                    display: block;
                    width: auto;
                    height: auto;
                    .icon {
                        display: block;
                        color: #ff4c88;
                        margin: 0 auto;
                        margin-right: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 560px) {
        .hour {
            font-size: smaller;
        }
        .icon {
            font-size: 18px;
            margin: 0 auto;
            margin-right: 0px !important;
        }
        ::-webkit-scrollbar {
            width: 3px;
        }
        div.lesson-name p {
            font-size: x-small;
            transform: rotate(-90deg);
        }

        .lesson-events {            
            .mat-icon {
                width: auto;
                height: auto;
            }
        }
    }
}
